.services{
    background: $black;
}

.services__list{

    padding: 80px 10% 120px;

    text-align: center;
}

.service-item{
    display: inline-block;
    float: left;

    width: calc(100% / 6);

    a, a:visited {
        display: block;

        color: $white;
        text-decoration: none;

        &:hover{
            color: darken($white, 15%);
        }
    }

    img{

        margin-bottom: 20px;

        height: 64px;
    }

    figcaption{
        display: block;
    }

}
